<form
  class="
     w-25
     m-auto
     p-5
    "
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
>
  <legend
    class="m-auto"
  >
    Inicia sesión
  </legend>
  <div class="mb-3">
    <label
      for="email"
      class="form-label"
    >
      Email:
    </label>
    <input
      class="form-control"
      id="email"
      formControlName="email"
    />

  </div>
  <div>
    <label
      for="password"
      class="form-label"
    >
      Contraseña:
    </label>
    <input
      class="form-control"
      id="password"
      type="password"
      formControlName="password"
    />
  </div>
  <button
    type="submit"
    [disabled]="loginForm.invalid"
    class="btn btn-primary mt-3"
  >
   Iniciar sesión
  </button>

</form>
